*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #F2545B;
  color: #19323C;
}

a:link, a:visited {
  color: honeydew;
  text-decoration: none;
}

a:hover, a:active {
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
}