*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #F2545B;
  color: #19323C;
}

a:link, a:visited {
  color: honeydew;
  text-decoration: none;
}

a:hover, a:active {
  font-weight: 700;
}

h2, h3 {
  margin: 12px;
}

.App  {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem;
}

.pomosetting {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid;
  border-radius: 0.375rem;
}

.setting-tittle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: 0.375rem;
  padding: 0.5rem 1rem;
  background-color: antiquewhite;
}

.control {
  display: flex;
  justify-content: space-between;
}

.pomodoro {
  border-radius: 0.375rem;
  background-color: #F57A80;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.clock-layout {
  font-size: 4rem;
  font-weight: 600;
}

footer {
  display: flex;
  justify-content: center;
}